<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarRaces" aria-controls="navbarRaces" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarRaces">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Carreras
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/carreras">Ver</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/escuderia">Escuderias</a></li>
            <li><a class="dropdown-item" href="/pilotos">Pilotos</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
