<div class="container-fluid p-4">
    <div class="row">
        {{#each valores.carrera}}
            <div class="col-md-4 m-1">
                <div class="card text-center">
                    <div class="card-header">
                        <h3 class="card-title text-uppercase">
                        {{fecha}} 
                        </h3>
                    </div>
                    <div class="card-body">
                        <p class="m-2">{{circuito}}</p>
                        <a href="/carreras/add/{{circuito}}" class="btn btn-danger btn-sm">Agregar Resultado</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
