<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <div class="float-left">
                <h3 style="color: gray;"><i class="fa-solid fa-cubes"></i> Posiciones por escuderia 2023</h3>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-danger border border-dark ">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="co1">Escuderia</th>
                        <th scope="co1">Puntos</th>
                        <th scope="co1">Ranking</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each datos}}
                        
                        <tr class="table-light text-center border border-dark">
                            <th scope="row">{{escuderia}}</th>
                            <td>{{total}}</td>
                            <td>{{ranking}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>